/* table{
    background-color: rgb(251, 254, 255);
    overflow-y: scroll;
}
table td,th{
    border: 1px solid black;
    color: black;
}
.heading-data{
    margin-top: 50px;
}
.div_table{ */
    /* background-image: url('https://www.shutterstock.com/image-vector/pink-yellow-background-gradient-illustration-260nw-1130015222.jpg');  */
	/* background-image: linear-gradient(  #b44593, #ee7724, #D8363a,#dd3675); */
    /* background: linear-gradient(to top, #669999 0%, #ffffcc 100%);
    background-repeat: no-repeat;
	background-size: cover;
    height: 200px;
    padding: 50px;
    margin-top: 100px;
}
.outside{ */
    /* width:1000px;
    height: 700px; */
    /* background-color:linear-gradient(to top, #669999 0%, #FFFFCC 100%);; */
    /* background-color: white;

}
.form_here{
    border:2px solid black;
    background-color: white;
    width:900px;
    padding-top:20px;
    height:600px;
    margin:50px;
    border-radius:6%; 
} */
