/* .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
  }
  
  .button {
    background-color: #555555;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .active {
    background-color: #4CAF50 ;
  }
  
  .table {
    display: none;
    width: 100%;
  }
  
.scroll_tab{
  overflow-x:hidden;
  height:900px;
}

  .table.active {
    display: table;
  }

  .table.inactive {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    .button-container {
      flex-direction: column;
    }
  
    .button {
      width: 100%;
      margin-bottom: 16px;
    }
  } */
  /* .div1{
    background: linear-gradient(to top, #669999 0%, #ffffcc 100%);
    background-repeat: no-repeat;
	background-size: cover;
    height: 200px;
    padding: 40px;
    margin-top: 100px;
  }
  .div2{
    background: linear-gradient(to top, #669999 0%, #ffffcc 100%);
    background-repeat: no-repeat;
	background-size: cover; */
    /* height: 200px;
    padding: 40px; */
  /* } */