.allcomplaintshead {
  text-align: center;
  font-size: 24px; /* Adjust the font size as needed */
  color: #1d31ca; /* Adjust the text color as needed */
  margin-top: 20px;
}

.alcsearch {
  margin-bottom: 13px;
  padding-top: 15px;
}



